{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "standard"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "rules": {
        "semi": [ "error", "always" ],
        "indent": [ "error", 4, { "SwitchCase": 1 } ],
        "array-bracket-spacing": [ "error", "always" ],
        "no-use-before-define": "off",
        "dot-notation": "off",
        "no-unused-vars": "off",
        "no-undef": "off",
        "@typescript-eslint/no-use-before-define": 0,
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-unused-vars": "error"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
